html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
header{
	background-color: #007399;
}
.btn-group button{
	color: #fff;
}
.btn-group button:hover, .site-title, .px-2, .px-1{
	color: #fff;
} 
.px-2:hover, .px-1:hover{
	color: #fff;
	text-decoration: none;
}

/******Navigation Menu*****/
.navbar-nav{
	padding: 0.8em 0em;
}
.navbar-nav .nav-link{
	font-size: 0.9em;
	color: var(--light-gray) !important;
}
.navbar-nav .nav-item .nav-link{
	padding: 0 1.3em;
}
.navbar-nav .basket-icon{
	margin-right: 6.5rem !important;
}
/****Slider start*****/
.carousel-indicators li{
   border-radius: 50%;
   width: 12px;
   height: 12px;
   background-color:  #007399;
}
.carousel-control-prev{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 200px;
	left: 50px;
}
.carousel-control-next{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 200px;
	right: 50px;
}
.carousel button{
	background-color: #007399;
	border-radius: 30px;
}

/******second slider****/
.carousel-item span{
	border-radius: 30px;
	border: 1px solid #00bfff;
	text-align: center;
	padding: 5px;
	font-weight: 200;
	font-size: 14px;
	align-items: center;
	background-color: #ccf2ff;
	margin-left: 50px;
}
.carousel-item img{
	border-radius: 12px;
}
.carousel-caption{
	top: 30%;
}
.slider-title{
	font-weight: 600;
	font-size: 40px;
	color: black;
	text-transform: uppercase;
}
.slider-text{
	font-weight: 400;
	font-size: 20px;
	color: black;
}
.slider-title i{
	color: #ffffff;
}

.outer-div{
	height: 350px;
	overflow: hidden; 
}
.inner-div1{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all ease;
	background-image: url(img/men.jpg);
}
.inner-div1:hover{
    transform: scale(1.2);
}
.inner-div2{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all ease;
	background-image: url(img/skirt.jpg);
}
.inner-div2:hover{
    transform: scale(1.2);
}
.zoom-box-text{
	text-align: center;
	line-height: 300px;
	color: #fff;
}
.counter{
	background-image: url(img/makeup.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

.card{
	height: 80%;
	width: 300px;
	border: none;
}
.card-title{
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
.card-text{
	margin-bottom: 8px;
}
.card img{
	width: 300px;
	height: 300px;
}
.card-body a{
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
}
.card-body a:hover{
	color: red;
	font-size: 14px;
	font-weight: 600;
	padding: 5px;
}
.card:before{
	content: "\f07a";
	font-family: fontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: deeppink;
	font-size: 20px;
	padding-right: 10px;
	position: absolute;top: 10px;
	left: 10px;
}

#discount{
	background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(img/background.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.discount-session-content{
	padding: 150px 0;
	color: white;
}
.social-icons{
	font-size: 100px;
	color: white;
}
.carousel-brand img{
	width: 300px;
	height: 300px;
}

.icon{
	font-size: 60px;
	color: dimgrey;
}
.payment-method{
	padding: 10px 40px 30px 20px;
	background-color: #f8f8f8;
	border-radius: 30px;
	-webkit-box-shadow: inset 1px 0px 12px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 1px 0px 12px 0px rgba(0,0,0,0.5);
	box-shadow: inset 1px 0px 12px 0px rgba(0,0,0,0.5);
}


footer{
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/background2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-position: center center;
	color: aliceblue;
}
.media img{
    width: 100px;
    height: 100px;
}
.payment-method img{
	height: 100px;
}